
.planet-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.card {
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.tabs {
  display: flex;
  gap: 20px;
}

.tab {
  width: 100%;
}

.tab h3 {
  font-size: 18px;
  font-weight: bold;
}
